.footer-icons {display: flex;align-items: center;justify-content: center;gap: 1rem;padding: 1rem 0;}

footer {width: 100%;height: 200px;background: #242424;display: grid;place-content: center;}



.footer-icons i {color: #fff;font-size: 2rem;}

p.footer-text {color: #fff;}