@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

html {
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    width: 5px;
}

html::-webkit-scrollbar-track{
    background-color: #ddd;
}

html::-webkit-scrollbar-thumb {
    background: #242424;
    border-radius: 5rem;
}


@media (max-width: 548px) {
    html {
        font-size: 62.5%;
    }
}
